<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Study Flashcards</title>
  <link rel="stylesheet" href="../static/css/flashcardsPage.css">
</head>
<body>
  <div class="top-progress-wrapper">
    <progress class="progress-bar" id="progressBar" value="0" max="100"></progress>
  </div>

  <div class="actions">
    <button class="theme-toggle" onclick="toggleTheme()">🌙</button>
    <button class="btn-actions" onclick="shuffleCards()">Shuffle</button>
  </div>

  <div class="study-container" id="app"></div>

<script src="../static/json/flashcardsPage.js"></script>
</body>
</html>