<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flashcards AI</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

<div class="main">
  <button class="theme-toggle" onclick="toggleTheme()">
    🌙
  </button>
  <h1>Ready to study?</h1>
  <p>Upload your PDF/DOCX and you'll have AI generated flashcards!</p>

  <div class="upload-box">
    <input type="file" id="fileInput" accept=".pdf, .docx">
    <button onclick="upload_file()">Generate</button>
    <div class="upload-options">
      <label for="cardCount">Number of flashcards:</label>
      <select id="cardCount" name="cardCount">
        <option value="15" selected>15</option>
        <option value="20">20</option>
        <option value="25" >25</option>
      </select>
</div>
  </div>

</div>

<script src="../static/json/upload.js"></script>
</body>
</html>